
/* TODO:  Remove any inline styling, expect strong or em */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: darkorange
}

.App-header {
  background-color: #484848;
  height: 50px;
  padding: 20px;
  color: white;
  font-size: large;
}

.is-active {
  font-weight: bolder;
}

/* override user agent stylesheet */
ul { padding: 0 }

.Post__timestamp {
  text-align: center;
  font-size: x-small;
}

/* .Category__sortButton {
  TODO:
} */

.Main-container {
  background-color: darkorange
}

.Sub-container {
  background-color: darkgrey
}

.voter {
  text-align: center;
}